<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Xero Dashboard</a>
        </div>
        <!-- Top Menu Items -->

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li >
                    <a href="#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li >
                    <a href="" ng-click="goTo('accounts')"><i class="fa fa-fw fa-bank"></i> Accounts</a>
                </li>
                <li >
                    <a href="" ng-click="goTo('payments')"><i class="fa fa-fw fa-pie-chart"></i> Payments Statics</a>
                </li>
                <li >
                    <a href="" ng-click="goTo('invoices')"><i class="fa fa-fw fa-credit-card"></i> Invoices</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Xero <small>Accounting Dashboard</small>
                    </h1>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bank fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{accounts.length}}</div>
                                    <div>Accounts</div>
                                </div>
                            </div>
                        </div>
                        <a href="" ng-click="goTo('accounts')">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-pie-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{paymentCount}}</div>
                                    <div>Payments</div>
                                </div>
                            </div>
                        </div>
                        <a href="" ng-click="goTo('payments')">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-credit-card fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{invoices.length}}</div>
                                    <div>Invoices</div>
                                </div>
                            </div>
                        </div>
                        <a href="" ng-click="goTo('invoices')">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row ">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="text" class="form-control"  value="{{value}}"
                                   date-range-picker start-date="startDate" end-date="endDate" init-data="initData" />
                <span class="input-group-addon" onclick="this.previousElementSibling.click()">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  <strong>Date Range</strong> Select the date range from above to filter the result.
                    </div>
                </div>
            </div>

            <div  class="row">
                <div class="col-lg-12" id="accounts">
                    <h2>Active Bank Accounts</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Currency Code</th>
                                <th>Ending Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat = "account in accounts">
                                <td>{{account.Name}}</td>
                                <td>{{account.Type}}</td>
                                <td>{{account.CurrencyCode}}</td>
                                <td>{{account.balance}} Rupees</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div  class="row">
                <div class="col-lg-12" id="payments">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i> Payment Statistics Chart( w.r.t Payment Type and Amount in PKR)</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="pie" class="chart chart-pie"
                                    chart-data="data" chart-labels="labels">
                            </canvas>
                        </div>
                    </div>
                </div>

            </div>
            <div  class="row">
                <div class="col-lg-12" id="invoices">
                    <h2>Payments Information</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Contact Name</th>
                                <th>Bank Amount</th>
                                <th>Date / Time</th>
                                <th>Status</th>
                                <th>Currency Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="invoice in invoices">
                                <td>{{invoice.Contact.Name}}</td>
                                <td>{{invoice.SubTotal}}</td>
                                <td>{{invoice.Date| date:'medium'}}</td>
                                <td>{{invoice.Status}}</td>
                                <td>{{invoice.CurrencyCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



            <!-- /.row -->



        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>